th, td
    text-align: center !important

.ac
    background-color: #51DA3F 

.wa
    background-color: #FF4A39

@keyframes pending-bring
    0%
        background-color: #FFAF74
    100%
        background-color: #FFC397

.pending
    animation-name: pending-bring
    animation-duration: 1s
    animation-iteration-count: infinite
    animation-timing-function: ease-in-out
    animation-direction: alternate




